[Desktop Entry]
Type=Application
Version=1.0
Name=mbtop
GenericName=System Monitor
GenericName[it]=Monitor di sistema
GenericName[zh_TW]=系統監視器
GenericName[pt_BR]=Monitor de sistema
Comment=Apple Silicon system monitor - CPU, GPU, Power, ANE, Memory, Disks, Network and Processes
Comment[it]=Monitoraggio delle risorse: mostra utilizzo e statistiche per CPU, dischi, rete e processi
Comment[zh_TW]=顯示處理器、主記憶體、磁碟、網路與進程的使用與統計數據的資源監視器應用程式
Comment[pt_BR]=Monitoramente de atividades com estatisticas e graficos por CPU, disco, rede e processos
Icon=mbtop
Exec=mbtop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task;apple;silicon;gpu;power
Keywords[zh_TW]=系統;進程;處理程序;任務
Keywords[pt_BR]=sistema;processos;tarefas
